/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/


* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --primary-color: #0468BF;
    --secondary-color: #D9B341;
    --background-light: #e6f0f9;
    --text-dark: #222;
    --text-light: #555;
    --link-hover: #034e8f;

}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #a09e9c;
    background-color: #fff;
    text-transform: initial;
    margin: 0 auto;
   

}

.container {
    max-width: 60%;
    margin: 0 auto;
}

.inner-padding {
    padding: 1rem 0;

}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-weight:350; 
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #343a3f;
    font-size: 18px;
    font-weight: 500;
    /* text-transform: capitalize; */
}

p {
    margin: 0;
    color: #767f86;
    font-size: 14px;
    line-height: 1.8;
    text-transform: initial;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0 ;
    list-style: none;
}

ul li {
    list-style: none;

}

select,
input,
textarea,
button {
    box-shadow: none;
    outline: 0 !important;
}

button {
    background: transparent;
    border: 0;
    font-size: 12px;
}

html,
body {
    height: 100%;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -ms-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}


.row {
    display: flex;
   
}